/*app.css*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

.nav-links-container {
  display: flex;
  align-items: center;
}

.nav-links {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
  font-size: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
}

#logo-container {
  display: flex;
  align-items: center;
}

#logo img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

#logotext {
  color: white;
  text-align: center;
  padding-left: 10px;
  font-family: sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 10px;
  }

  .navbar li {
    width: 100%;
    margin: 5px 0;
  }

  #logo img {
    height: auto;
    max-width: 100%;
  }
}

/* Spacer */
.spacer {
  height: 4em;
}

/* Search Section */
.search {
  text-align: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  margin: 10px 5px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 10em;
}

.button:hover {
  background-color: #555;
}

/* Scrollable container for tables */
.search_table-container,
.suggestions_table,
#suggesions-table,
.choices_table {
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px; /* Add space above tables */
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

table th {
  background-color: #333;
  color: white;
  position: sticky; /* Make header sticky */
  top: 0; /* Position it at the top of the scrolling container */
  z-index: 1; /* Ensure it stays above other content */
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

.search_table tr.selected {
  background-color: #1DB954;
  color: white;
}


/* Equal column widths for all tables */
table th:nth-child(1),
table td:nth-child(1) {
  width: 25%;
}

table th:nth-child(2),
table td:nth-child(2) {
  width: 25%;
}

table th:nth-child(3),
table td:nth-child(3) {
  width: 10%;
}

table th:nth-child(4),
table td:nth-child(4) {
  width: 10%;
}

table th:nth-child(5),
table td:nth-child(5) {
  width: 15%;
}

/* Bin icon styling */
.bin-icon {
  cursor: pointer;
  color: red;
  font-size: 1.2em;
}

/* Heading */
h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}
