/*app.css*/

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 20px;
}

#logo img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

#logotext {
  display: inline-block;
  color: white;
  text-align: center;
  padding-left: 10px;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 10px;
  }

  .navbar li {
    width: 100%;
    margin: 5px 0;
  }

  #logo img {
    height: auto;
    max-width: 100%;
  }
}

/* Spacer */
.spacer {
  height: 4em;
}

/* Search Section */
.search {
  text-align: center;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.button {
  padding: 10px;
  margin: 10px 5px; 
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  width: 10em; 
}

.button:hover {
  background-color: #555;
}

/* Table */
.search_table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search_table th, .search_table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.search_table th {
  background-color: #333;
  color: white;
  text-align: left;
}

.search_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.search_table tr:hover {
  background-color: #f1f1f1;
}

.search_table td {
  text-align: left;
}

/* Specific column widths */
.search_table th:nth-child(1), 
.search_table td:nth-child(1) {
  width: 25%;
}

.search_table th:nth-child(2), 
.search_table td:nth-child(2) {
  width: 25%; /* Adjust this value as needed */
}

.search_table th:nth-child(3), 
.search_table td:nth-child(3) {
  width: 10%; /* Adjust this value as needed */
}

.search_table th:nth-child(4), 
.search_table td:nth-child(4) {
  width: 10%;
}

.search_table th:nth-child(5), 
.search_table td:nth-child(5) {
  width: 15%;
}

.search_table th:nth-child(6), 
.search_table td:nth-child(6) {
  width: 15%;
}

/* Choices Table */
.choices_table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Add space above the new table */
}

.choices_table th, .choices_table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

.choices_table th {
  background-color: #333;
  color: white;
}

.choices_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.choices_table tr:hover {
  background-color: #f1f1f1;
}

.choices_table td {
  text-align: left;
}

/* Equal column widths for the choices table */
.choices_table th, 
.choices_table td {
  width: 33%;
}

/* Action column for delete button */
.choices_table th:nth-child(3), 
.choices_table td:nth-child(3) {
  width: 10%;
  text-align: center;
}

/* Bin icon */
.bin-icon {
  cursor: pointer;
  color: red;
  font-size: 1.2em;
}


/* Heading */
h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5em;
  color: #333;
}
