<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendify</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>
<body>
    <div>
        <ul class="navbar">
            <div id="logo-container">
                <li id="logo"><img src="../static/images/Spotify_Icon_RGB_Green.png" alt="Spotify Logo"></li>
                <li id="logotext"><h4>Recommendify</h4></li>
            </div>
            <div class="nav-links-container">
                <li class="nav-links"><a href="{{ url_for('main.comparison') }}" class="btn btn-secondary">Compare Clustering Results</a></li>
                <li class="nav-links"><a href="#results">Search</a></li>
                <li class="nav-links"><a href="#suggestions">Suggestions</a></li>
                <li class="nav-links"><a href="#choices">Your Choices</a></li>
            </div>
        </ul>
    </div>

    <div class="spacer"></div>
    <div id="search-loading" class="loading-indicator">
        <span>Loading...</span>
    </div>

    <section class="search">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <input type="text" class="input" placeholder="Search" name="q" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-indicator="#search-loading">
                <button class="button" id="add-button">Add</button>
                <button class="button" id="search-button" onclick="search()">Search</button>
            </div>
        </div>

        <div class="search_table-container">
            <table class="search_table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Song Name</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody id="results"></tbody>
            </table>
        </div>
    </section>

    <div class="spacer"></div>
    <h2>Suggestions</h2>
    <div class="suggestions_table">
        <table id="suggestions-table">
            <thead>
                <tr>
                    <th>Track Name</th>
                    <th>Artist Name</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody id="suggestions">
                {% for suggestion in suggestions %}
                <tr>
                    <td>{{ suggestion.track_name }}</td>
                    <td>{{ suggestion.artist_name }}</td>
                    <td>{{ suggestion.genre }}</td>
                    <td>{{ suggestion.year }}</td>
                    <td>{{ suggestion.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <style>
            /* Hover effect for table rows */
            #suggestions-table tr:hover {
                background-color: #f1f1f1;  /* Change background color on hover */
                cursor: pointer;            /* Change cursor to pointer */
            }
        </style>
    </div>

    <div class="spacer"></div> 
    <h2>Your Choices</h2>
    <table class="choices_table" style="align-items: center;">
        <thead>
            <tr>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="choices"></tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let selectedRow = null;

            // Function to handle row selection for both tables
            function handleRowClick(event) {
                if (event.target.tagName === 'TD') {
                    if (selectedRow) {
                        selectedRow.classList.remove('selected');
                        selectedRow.style.backgroundColor = '';
                    }
                    selectedRow = event.target.parentElement;
                    selectedRow.classList.add('selected');
                    selectedRow.style.backgroundColor = '#1DB954';
                }
            }

            document.querySelector('#results').addEventListener('click', handleRowClick);
            document.querySelector('#suggestions-table tbody').addEventListener('click', handleRowClick);

            document.querySelector('#add-button').addEventListener('click', function() {
                if (selectedRow) {
                    const cells = selectedRow.getElementsByTagName('td');
                    const artist_name = cells[0].textContent;
                    const track_name = cells[1].textContent;
                    const year = cells[2].textContent;
                    const genre = cells[3].textContent;
                    const duration = cells[4].textContent;

                    addToChoices(track_name, artist_name);
                    fetchSuggestions(track_name, artist_name);
                }
            });

            function addToChoices(track_name, artist_name) {
                const tableBody = document.querySelector('#choices');
                const newRow = document.createElement('tr');
                newRow.innerHTML = `
                    <td>${track_name}</td>
                    <td>${artist_name}</td>
                    <td><img src="../static/images/bin.png" class="bin-icon" onclick="removeRow(this)"></td>
                `;
                tableBody.appendChild(newRow);
                const newImg = newRow.querySelector('.bin-icon');
                newImg.style.width = '20px';
                newImg.style.height = 'auto';
                newImg.style.verticalAlign = 'middle';
                if (selectedRow) {
                    selectedRow.classList.remove('selected');
                    selectedRow.style.backgroundColor = '';
                }
                selectedRow = null;
            }

            window.removeRow = function(icon) {
                const row = icon.closest('tr');
                if (row) {
                    row.remove();
                }
            }

            window.search = function() {
                const userChoices = [];
                const rows = document.querySelectorAll('#choices tr');
                rows.forEach(row => {
                    const cells = row.querySelectorAll('td');
                    const track_name = cells[0].textContent;
                    const artist_name = cells[1].textContent;
                    userChoices.push({ track_name, artist_name });
                });

                fetch('/recommendations', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(userChoices),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.text();
                })
                .then(html => {
                    document.open();
                    document.write(html);
                    document.close();
                })
                .catch(error => console.error('Error:', error));
            }

            function fetchSuggestions(track_name, artist_name) {
                console.log('Fetching suggestions for:', track_name, artist_name);

                fetch('/suggestions', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ track_name, artist_name })
                })
                .then(response => response.json())
                .then(data => {
                    const suggestionsTable = document.getElementById('suggestions-table').getElementsByTagName('tbody')[0];
                    suggestionsTable.innerHTML = '';

                    if (data.suggestions && data.suggestions.length > 0) {
                        data.suggestions.forEach(suggestion => {
                            const row = document.createElement('tr');
                            row.innerHTML = `
                                <td>${suggestion.track_name}</td>
                                <td>${suggestion.artist_name}</td>
                                <td>${suggestion.genre}</td>
                                <td>${suggestion.year}</td>
                                <td>${suggestion.duration}</td>
                            `;
                            suggestionsTable.appendChild(row);
                        });
                    } else {
                        console.warn('No suggestions found.');
                    }
                })
                .catch(error => console.error('Error fetching suggestions:', error));
            }
        });
    </script>
</body>
</html>
