<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommendify</title>
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let selectedRow = null;

            // Add click event listener to rows in the search table
            document.querySelector('#results').addEventListener('click', function(event) {
                if (event.target.tagName === 'TD') {
                    if (selectedRow) {
                        selectedRow.classList.remove('selected');
                    }
                    selectedRow = event.target.parentElement;
                    selectedRow.classList.add('selected');
                }
            });

            // Add click event listener to the Add button
            document.querySelector('#add-button').addEventListener('click', function() {
                if (selectedRow) {
                    const cells = selectedRow.getElementsByTagName('td');
                    const artist_name = cells[0].textContent;
                    const track_name = cells[1].textContent;
                    const year = cells[2].textContent;
                    const genre = cells[3].textContent;
                    const duration = cells[4].textContent;

                    const tableBody = document.querySelector('#choices');
                    const newRow = document.createElement('tr');

                    newRow.innerHTML = `
                        <td>${track_name}</td>
                        <td>${artist_name}</td>
                        <td><img src="../static/images/bin.png" class="bin-icon" onclick="removeRow(this)"></td>
                    `;

                    tableBody.appendChild(newRow);

                    // Select the newly added image and set its size
                    const newImg = newRow.querySelector('.bin-icon');
                    newImg.style.width = '20px';  // Adjust size
                    newImg.style.height = 'auto'; // Maintain aspect ratio
                    newImg.style.verticalAlign = 'middle'; // Align like a line

                    // Remove selection after adding to choices
                    selectedRow.classList.remove('selected');
                    selectedRow = null;

                    // Fetch suggestions based on added song
                    fetchSuggestions(artist, songName);
                }
            });

        });

        function removeRow(icon) {
            icon.parentElement.parentElement.remove();
        }

        function search() {
            const userChoices = [];

            // Extract song and artist from the user choices table
            const rows = document.querySelectorAll('#choices tr');
            rows.forEach(row => {
                const cells = row.querySelectorAll('td');
                const track_name = cells[0].textContent;
                const artist_name = cells[1].textContent;

                userChoices.push({ track_name, artist_name });
            });

            // Submit choices to Flask endpoint
            fetch('/recommendations', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(userChoices),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Recommendations received:', data);
        
                // Handle data or redirect as needed
                if (data.message) {
                    alert(data.message); // Show alert for error messages
                } else {
                    // Assuming you want to redirect to results.html after receiving recommendations
                    window.location.href = '/results'; // Change this to the actual route for results
                }
            })
            .catch(error => console.error('Error:', error));
        }


        function fetchSuggestions(artist, songName) {
            fetch(`/get_suggestions?artist=${encodeURIComponent(artist)}&songName=${encodeURIComponent(songName)}`)
                .then(response => response.json())
                .then(data => {
                    const suggestionsTable = document.querySelector('#suggestions');
                    suggestionsTable.innerHTML = '';
                    data.suggestions.forEach(suggestion => {
                        const row = document.createElement('tr');
                        row.innerHTML = `
                            <td>${suggestion.artist}</td>
                            <td>${suggestion.song}</td>
                            <td>${suggestion.year}</td>
                            <td>${suggestion.genre}</td>
                            <td>${suggestion.duration}</td>
                        `;
                        suggestionsTable.appendChild(row);
                    });
                });
        }
    </script>
    <style>
        .suggestions_table {
            max-height: 150px; /* Adjust the height for your needs */
            overflow-y: auto;
            display: block; /* Ensures it behaves like a block element */
        }
    </style>
</head>
<body>
    <div>
        <ul class="navbar">
            <div id="logo-container">
                <li id="logo"><img src="../static/images/Spotify_Icon_RGB_Green.png" alt="Spotify Logo"></li>
                <li id="logotext"><h4>Recommendify</h4></li>
            </div>
            <div class="nav-links-container">
                <li class="nav-links"><a href="{{ url_for('main.comparison') }}" class="btn btn-secondary">Compare Clustering Results</a></li>
                <li class="nav-links"><a href="#results">Search</a></li>
                <li class="nav-links"><a href="#suggestions">Suggestions</a></li>
                <li class="nav-links"><a href="#choices">Your Choices</a></li>
            </div>
        </ul>
    </div>

    <div class="spacer"></div> 
    <div id="search-loading" class="loading-indicator">
        <span>Loading...</span>
    </div>

    <section class="search">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third">
                <input type="text" class="input" placeholder="Search" name="q" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results"   
                    hx-indicator="#search-loading" onkeyup="console.log('Keyup event triggered')" hx-post="/recommendations">
                <button class="button" id="add-button">Add</button>
                <button class="button" id="search-button" onclick="search()">Search</button>
            </div>
        </div>

        <div class="search_table-container">
            <table class="search_table">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Song Name</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody id="results">
                    </tbody>
            </table>
        </div>
    </section>

    <div class="spacer"></div>
    <h2>Suggestions</h2>
    <div class="suggestions_table">
        <table>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Song Name</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody id="suggestions">
                </tbody>
        </table>
    </div>

    <div class="spacer"></div> 
    <h2>Your Choices</h2>
    <table class="choices_table" style="align-items: center;">
        <thead>
            <tr>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="choices">
            </tbody>
    </table>
</section>
<br><br><br><br><br>
</body>
</html>